* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f1e3;
    /*border: 1px red green;*/
}

canvas {
    background-color: #f7f1e3;
    width: 70%;
    height: 100%
}


/*estilo global**/

a {
    font-family: Roboto;
    text-decoration: none;
    color: #ecf0f1;
}

p {
    font-family: Roboto;
}

form {
    padding-bottom: 20px;
    padding-left: 10px;
}


/*estilo de la barra**/

nav {
    position: relative;
    background-color: #2980b9;
    padding: 1% 0 1% 0;
}

.logo {
    height: 4.5%;
    width: 4.5%;
}

.cont-logo {
    margin-left: 2%;
}

nav ul li {
    display: inline;
    list-style: none;
}

nav ul li a {
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 500;
    transition: .3s;
}

nav ul li :nth-child(5) {
    padding-right: 0px;
}

nav ul li a:hover {
    border-bottom: 3px solid #ecf0f1;
    padding: 9px;
    /*Quedo chido aqui XD*/
    /*border-radius: 30px;*/
}


/*enlaces para inicio de sesion y registro de usuario**/

.opciones-sesion {
    position: absolute;
    right: 39px;
    top: 30px;
    left: auto;
    margin-right: 50px;
    padding-right: 20px;
}

.opciones-sesion a {
    margin-right: 25px;
    font-family: Roboto;
    font-weight: 500;
    transition: .3s;
}

.opciones-sesion a:hover {
    border-bottom: 3px solid #ecf0f1;
    padding: 10px;
    /*border-radius: 30px;*/
}

.opciones-sesion .icono-carrito:hover {
    border-bottom: 3px solid #ecf0f1;
    padding: 1px;
    /*border-radius: 100%;*/
}


/*Parte principal*/

main {
    margin-top: 10px;
}


/*Inicio descripcion*/

.contenedor-descripcion p {
    font-family: Montserrat;
    font-weight: 700;
}

.contenedor-descripcion {
    /*margin: 0;*/
    margin-left: 30px;
    float: left;
    width: 30%;
    height: 50%
}

.rango-precio {
    margin-bottom: 15px;
}

legend,
label {
    font-family: Roboto;
    font-weight: 400;
}

.ubicacion legend {
    margin: 10px auto;
}

.ubicacion div {
    margin-top: 15px;
}

#enviar {
    margin-top: 23px;
    padding: 10px 15px;
    background-color: #29b963;
    /*rgba(52, 219, 119, .5);*/
    color: black;
    /*box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.3);*/
    border-radius: 10%;
    border: 0px;
    cursor: pointer;
    transition: .3s;
}

#enviar:hover {
    padding: 11px 16px;
    font-size: 15px;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.3);
}


/*#enviar:focus{
    outline: none;
}*/


/*Seccion de productos*/

.contenedor-descripcion,
.contenedor-productos {
    float: left;
    margin-bottom: 20px;
}

.clearfix {
    overflow: hidden;
}


/*Fin descripcion*/


/*Estilos para mostrar los productos**/

.contenedor-productos {
    background-color: #ecf0f1;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 50%;
    height: 90%;
    border-radius: 0 0 2% 2%;
}

.producto {
    font-size: 15px;
    margin-top: 30px;
    margin-left: 10px;
}

.producto img {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 15px;
}

.parrafito-chido {
    padding: 10px;
}


/*fin para mostrar los productos**/


/*fin para el main**/


/*estilos globales para inicio de sesion y registro de usuario**/

.contenedor-usuario {
    /*.contenedor-datos*/
    margin-top: 3rem;
    padding: 20px auto;
    background-color: #F5F5F5;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 2% 2%;
    margin-top: 20px;
}

.contenedor-usuario form {
    max-width: 30%;
    /*300px*/
    text-align: center;
}

.img-sesion {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    margin: 10px auto;
}

.boton-sesion input {
    width: 80%;
}

#iniciosesion,
#nuevoRegistro {
    color: white;
    margin-top: 20px;
    background-color: #344955;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

form.formul-sesion {
    margin: 0 auto;
    width: 100%;
}

.formul-sesion legend {
    font-weight: 500;
}

.formul-sesion .caja {
    margin: 20px 10px;
}

.caja label,
.caja input,
.boton-sesion {
    display: block;
    text-align: start;
}

.caja input {
    margin: 10px 0;
    width: 80%;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    border: 1px solid black;
    transition: .3s;
    outline: none;
}

.caja input:focus {
    border: 1px solid #2980b9;
}

.imagen-pagina {
    padding: 20px 30px;
}


/*fin de estilos globales, sesion y registro**/


/**inicio de sesion*/

.contenedor-sesion {
    /*contenedor-formulario*/
    max-width: 60%;
    /*600px*/
    margin: 0 auto;
    text-align: center;
    padding-bottom: 28px;
}


/*contenedor registro**/

.cont-registro {
    max-width: 80%;
    /*600px*/
    margin: 0 auto;
    text-align: center;
    padding-bottom: 28px;
}

.c-datos {
    width: 100%;
}

div.usu-carp {
    text-align: center;
}

div.usu-carp,
div.usu-carp>div {
    display: inline;
}

div.usu-carp>div {
    margin-right: 10%;
    margin-bottom: 50px;
}

input[type="radio"] {
    border: none;
}


/*fin para los estilos de registro**/


/*paginas de usuario y carpintero**/

.oculto {
    display: none;
}

.cont-trabajos,
.cont-mensajes {
    /*background-color: #ecf0f1;*/
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.3);
    padding: 120px;
    width: 100%;
    height: 90%;
    border-radius: 0 0 2% 2%;
}

.trabajo {
    font-size: 15px;
    margin-top: 30px;
    margin-left: 10px;
}

.trabajo img {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 15px;
}


/*carpintero**/

.cont-carpintero {
    display: inline;
}

.carpi-asd,
.carpi-mn {
    float: left;
}


/**aside del carpintero*/

.acciones {
    text-align: center;
    padding: 5% 7%;
    margin-bottom: 2.5rem;
    transition: 0.2s;
}

.acciones:hover {
    padding: 3% 25%;
    border-bottom: 2px solid #b9a329;
}


/**acciones*/

.carpi-asd {
    margin-top: 3%;
    margin-right: 3%;
    border-right: 1px solid black;
}

.padre-acciones {
    height: 100%;
}

span.titulos-acciones {
    color: black!important;
}

span.titulos-acciones:hover {
    color: #b92954!important;
    padding: auto 3%;
}


/*
div.padre-acciones>div>a {
    color: black!important;
}

div.padre-acciones>div>a:hover {
    color: #a934db!important;
    padding: auto 3%;
}*/

.cont-carpintero .carpi-asd {
    max-width: 30%;
    padding: 5% 10% 5% 3%;
}


/**fin del aside del carpintero*/

.cont-carpintero main.carpi-mn {
    max-width: 70%;
}

.funciones>div {
    max-width: 100%;
}


/*usuario**/


/**contenedor modelo*/

.contenedor-modelo {
    position: absolute;
    margin-left: 30px;
    width: 30%;
    height: 90%
}

.contenedor-modelo p {
    color: #2980b9;
}


/*
#desplegarsilla {
    display: none;
}

#desplegarcama {
    display: none;
}

#desplegarropero {
    display: none;
}
*/

.opc-modelos {
    display: none;
    height: 100%;
    width: 80%;
}

.pasar-raton {
    border: 1px solid white;
}

div.opciones-modelo>div a {
    color: white!important;
}

div.opciones-modelo>div {
    margin-bottom: 5%;
}


/*Footer*/

hr {
    clear: both;
    width: 80%;
}

footer {
    clear: both;
    margin: 0 auto;
}

.contenedor-footer {
    position: relative;
}

.contenedor-terminos {
    margin-left: 30%;
    margin-bottom: 50px;
}

.contenedor-terminos ul li {
    display: inline;
    list-style: none;
    padding-right: 5px;
}

.contenedor-terminos ul li::nth-last-child(3) {
    padding-right: 0px;
}

.contenedor-terminos ul li a {
    color: black;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    transition: .6s;
}

.contenedor-terminos ul li a:hover {
    font-family: Roboto;
    /*text-decoration: underline;*/
    pointer-events: all;
    border-bottom: 1px solid black;
}

.lema-copy {
    position: absolute;
    right: 50%;
    top: 0;
    bottom: 0;
    margin-top: 20px;
}


/*fin footer**/